header {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #333;
}
.head {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 60px; /* 요소들 사이의 간격을 60px로 설정 */
    margin-right: 110px;
}

.top-nav {
    display: flex;
    
    align-items: center;
    padding-right: 0;
    padding-left: 15px;
    
    padding-bottom: 50px;
    
    color: #333;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #333;
    
}

.logo img {
    margin-left: 120px;
    width: 100px; /* 이미지 크기를 조정하여 일관성 유지 */
    height: auto;
    object-fit: cover;
}

.main-menu {
    list-style-type: none;
    margin: 0 350px;
    padding: 0;
    display: flex;
    gap: 65px;
    justify-content: center;
    flex: 1;
}

.main-menu li a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
    padding: 5px 10px;
    font-weight: 500;
    font-style: normal;
    transition: color 0.3s;
}

.main-menu li a:hover {
    color: #666;
}

.auth-buttons {
    display: inline-block;
    gap: 10px;
    margin-right: 50px;
    align-items: center;
}

.auth-buttons a, .auth-buttons button {
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    background-color: #889491;
    transition: background-color 0.3s, transform 0.3s;
}

.auth-buttons a:hover, .auth-buttons button:hover {
    background-color: #677b78;
    transform: scale(1.05);
}

.auth-buttons  {
    font-size: 20px;
    padding: 10px;
    color: #333;
    background-color: transparent;
    cursor: pointer;
}
.material-symbols-outlined{
    color: #333;

    
}
.material-symbols-outlined:visited{
    color: #333;
}

.auth-buttons .cart-btn:hover {
    color: #555;
}

#welcome-message {
    font-size: 16px;

    font-weight: 500;

    margin-left: 10px;
    color: #333;
}