<style>
      body {
        font-family: 'Noto Sans KR', sans-serif;
        color: #333;
        padding: 20px;
        max-width: 800px;
        margin: auto;
      }
      
      #gameName{
          font-size: 2.5em;
          margin: 0;
      }
      
      #categoryName {
          color: #666;
          margin: 5px 0;
      }
      
      .game-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      
      .game-left {
        width: 70%;
        border-radius: 8px;
        background-color: #ddd;
      }
      
      #gameVideo {
        width: 600px;
        height: 300px;
      }
      
      .game-right {
        text-align: center;
      }
      
      #gameImage {
        margin-left: 20px;
        width: 220px;
        height: 220px;
        border-radius: 8px;
        background-color: #ddd;
      }
      
      #gamePrice {
        font-size: 1.5em;
        margin: 10px 0;
      }
      
      .cart-btn {
        background-color: #889491;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 15px;
        cursor: pointer;
      }
      
      .cart-btn:hover {
        background-color: #778881;
      }
      
      #gameDescription {
        font-size: 1em;
        margin: 20px 0;
      }
      
      footer {
        margin-top: 40px;
        padding: 20px;
        text-align: center;
        background-color: #333;
        color: #fff;
      }
      
      .footer-content p {
        margin: 0;
      }
    </style>
