header {
    font-family: "Noto Sans KR", sans-serif !important;
    font-weight: 500 !important;
    font-style: normal !important;
    color: #333 !important;
}

.top-nav {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    padding: 5px 20px !important; /* 패딩을 줄임 */
    color: #333 !important;
    width: 100% !important;
    box-sizing: border-box !important;
}

.logo img {
    margin-left: 20px !important; /* 마진 줄임 */
    width: 80px !important; /* 로고 크기 줄임 */
    height: auto !important;
    object-fit: cover !important;
}

.main-menu {
    list-style-type: none !important;
    margin: 0 !important;
    padding: 0 !important;
    display: flex !important;
    gap: 15px !important; /* 링크 간격 줄임 */
    justify-content: center !important;
    flex: 1 !important;
}

.main-menu li a {
    color: #333 !important;
    text-decoration: none !important;
    font-size: 14px !important; /* 폰트 크기 줄임 */
    padding: 5px !important; /* 여백 줄임 */
    font-weight: 500 !important;
    font-style: normal !important;
    transition: color 0.3s !important;
}

.auth-buttons {
    display: flex !important;
    gap: 5px !important; /* 버튼 간격 줄임 */
    margin-right: 20px !important; /* 오른쪽 여백 줄임 */
}

.auth-buttons a, .auth-buttons button {
    padding: 5px 10px !important; /* 패딩을 줄여서 버튼 크기 줄임 */
    border-radius: 5px !important;
    text-decoration: none !important;
    color: white !important;
    background-color: #889491 !important;
    transition: background-color 0.3s, transform 0.3s !important;
    font-size: 14px !important; /* 버튼 텍스트 크기 줄임 */
}
