header {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #333;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px; /* 패딩을 더 줄여서 헤더의 높이를 줄임 */
    color: #333;
    width: 100%;
    box-sizing: border-box;
}

.logo img {
    margin-left: 20px; /* 왼쪽 마진 줄임 */
    width: 100px; /* 로고 크기 감소 */
    height: auto;
    object-fit: cover;
}

.main-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px; /* 링크 간격 줄임 */
    justify-content: center;
    flex: 1;
}

.main-menu li a {
    color: #333;
    text-decoration: none;
    font-size: 14px; /* 폰트 크기를 줄임 */
    padding: 5px; /* 여백을 줄여서 공간 절약 */
    font-weight: 500;
    font-style: normal;
    transition: color 0.3s;
}

.main-menu li a:hover {
    color: #666;
}

.auth-buttons {
    display: flex;
    gap: 5px; /* 버튼 간격 줄임 */
    margin-right: 20px; /* 오른쪽 여백 줄임 */
}

.auth-buttons a, .auth-buttons button {
    padding: 5px 10px; /* 패딩을 줄여서 버튼 크기 감소 */
    border-radius: 5px;
    text-decoration: none;
    color: white;
    background-color: #889491;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 14px; /* 버튼 텍스트 크기 감소 */
}

.auth-buttons a:hover, .auth-buttons button:hover {
    background-color: #677b78;
    transform: scale(1.05);
}

.auth-buttons .cart-btn {
    font-size: 18px; /* 아이콘 크기 감소 */
    padding: 5px;
    color: #333;
    background-color: transparent;
    cursor: pointer;
}

.auth-buttons .cart-btn:hover {
    color: #555;
}

#welcome-message {
    font-size: 14px; /* 폰트 크기 감소 */
    font-weight: 500;
    margin-left: 10px;
    color: #333;
}
