body {
  font-family: "Noto Sans KR", sans-serif;
}

header {
  font-weight: 500;
  font-style: normal;
  color: #333;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  color: #333;
}

.logo {
  margin-left: 150px;
  font-size: 24px;
  font-weight: bold;
}

.main-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px; /* 링크 간격 조정 */
  justify-content: center; /* 중앙 정렬 */
  flex: 1; /* 중간 네비게이션 바가 가로로 더 많은 공간을 차지하도록 설정 */
}

.main-menu li a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
  padding: 5px 10px; /* 여백 추가 */
  font-weight: 500;
  font-style: normal;
}

.auth-buttons {
  display: flex;
  gap: 10px;
  margin-right: 150px;
}

.auth-buttons a {
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  background-color: #889491;
}

/* 서브메뉴 */
.sub-nav {
  background-color: #889491;
  margin: 0 150px;
  padding: 15px 45px;
  border-radius: 30px;
}

.submenu {
  list-style-type: none;
  margin: 0 10px;
  padding: 0;
  display: flex;
  gap: 30px;
}

.submenu li {
  color: white;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 15px;
  transition: background-color 0.3s, color 0.3s;
}

.submenu li:hover {
  background-color: #777;
  color: #fff;
}

.profile-section {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.profile-info {
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 20px;
  width: 50%;
  max-width: 600px;
  text-align: left;
}

.profile-info h2 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 30px;
}

.profile-info p {
  margin: 10px 0;
  font-size: 18px;
}

.profile-info .label {
  font-weight: bold;
  color: #333;
}

.profile-info .value {
  margin-left: 10px;
  color: #555;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
}
