body {
    font-family: "Noto Sans KR", sans-serif;
}

header {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #333;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    color: #333;
}

.logo {
    margin-left: 150px;
    font-size: 24px;
    font-weight: bold;
}

.main-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
    justify-content: center;
    flex: 1;
}

.main-menu li a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
    padding: 5px 10px;
    font-weight: 500;
}

.auth-buttons {
    display: flex;
    gap: 10px;
    margin-right: 150px;
}

.auth-buttons a {
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    background-color: #889491;
}

/* 서브메뉴 */
.sub-nav {
    background-color: #889491;
    margin: 0 150px;
    padding: 15px 45px;
    border-radius: 30px;
}

.submenu {
    list-style-type: none;
    margin: 0 10px;
    padding: 0;
    display: flex;
    gap: 30px;
}

.submenu li {
    color: white;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 15px;
    transition: background-color 0.3s, color 0.3s;
}

.submenu li:hover {
    background-color: #777;
    color: #fff;
}
 .menu {
        height: 20px;
        background-color: #778881;
        display: flex;
        justify-content: space-around;
        margin: 50px 150px;
        padding: 15px 45px;
        list-style-type: none;
      }

      .menu li {
        padding: 0 20px;
      }

      .menu li a {
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        display: block;
      }

      .menu li a:hover {
        background-color: #889491;
      }

.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.profile-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.profile-header h1 {
    margin-left: 20px;
    font-size: 24px;
}

.profile-image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.profile-info {
    text-align: left;
    margin: 40px;
    width: 500px;
}

.profile-row {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 18px;
}

.label {
    font-weight: bold;
}

.value {
    margin-left: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}
