body {
    font-family: "Noto Sans KR";
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.findpassword-container {
    width: 500px;
    padding: 20px;
    text-align: center;
}

.findpassword-container h2 {
    margin-bottom: 60px;
    color: #333333;
    font-size: 24px;
}

.findpassword-container label {
    display: block;
    margin-bottom: 5px;
    color: #666666;
    font-size: 14px;
    text-align: left;
}

.findpassword-container input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-bottom: 1px solid #dadada;
    
    box-sizing: border-box;
}

.findpassword-container button {
    font-family: "Noto Sans KR";
    width: 100%;
    padding: 10px;
    background-color: #889491;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

.findpassword-container button:hover {
    background-color: #778881;
}
